.header {
  width: 100%;
  min-width: 100vw;
  text-align: center;
  // box-shadow: 0px 20px 35px rgba(62, 81, 81, 0.6);
  background-color: rgb(37, 41, 52);
  padding: 1rem 0 1.5rem 0;
  position: relative;
  display: flex;
}
.logo {
  display: inline-block;
  height: 6rem;
}
.mainTitle {
  display: block;
  font-size: 2.5rem;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 0 1rem 0;
  margin-left: 3rem;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -10%;
    height: 7px;
    border-radius: 4px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    width: 35%;
    background-color: #04c2c9;
  }
  &:hover {
    &::before {
      width: 15%;
    }
  }
}

.nav-item {
  position: relative;
  display: inline-block;
  color: #999999;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  margin-left: 3.5rem;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  @media screen and (max-width: 991.98px) {
    margin-left: 1.5rem;
  }
}

.nav-item::before {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 0%;
  content: "";
  // background-color: #04c2c9;
  background-color: #3e5151;
  transition: all ease-in-out 0.4s;
  height: 5px;
}

.nav-item:hover {
  color: #ffffff;
  // transform: translateY(-10%);
  &::before {
    width: 100%;
  }
}

.active-nav-item {
  color: #ffffff;
  font-weight: 700;
  // transform: translateY(-10%);
}

.navBar {
  color: gainsboro;
  display: inline-flex;
  flex-wrap: wrap;
  align-self: flex-end;
  font-weight: 700;
  justify-content: flex-end;
  margin: 0;
  padding-right: 2rem;
  // padding: 0;
  margin-right: 2rem;
  margin-left: auto;
  list-style-type: none;
}
